# ignore .venv because it should be different on each developer's machine
.venv

.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore the coverage output from local runs
/coverage

# ignore mounted /vendor directory from Docker compose ci
/vendor/